/* Global CSS Start */
/* This CSS is applied to the entire page */

/* CSS Variables */ 

:root{
    --lightModeText:rgb(85, 85, 85);
    --lightModeBGColor:#fff;
    --lightModeNav: color rgb(60, 91, 175);
    --darkModeText: #fff;
    --darkModeBGColor:rgb(68, 62, 94);
}

html{
    scroll-behavior: smooth;
}

#scrollKey{
    position: fixed;
    font-size: 200%;
    color: rgb(60, 91, 175);
    z-index: 2;
    bottom: 1.25rem;
    right: 1.25rem;
    text-decoration: none;
    padding: 10px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid grey;
}

body{
    background-color: #fff;
    margin: 0px auto;
    width: 100%;
    font-family: sans-serif;
    color: rgb(85, 85, 85);
    overflow: auto;
}

.dark-mode{
    background-color: rgb(68, 62, 94)!important;
    color: rgb(173, 156, 187)!important;
}

.dark-modeNav{
    background-color: rgb(68, 62, 94)!important;
    color: rgb(173, 156, 187)!important;
    border-bottom: 1px solid rgb(173, 156, 187)!important;
}

.dark-modeName{
    color: rgb(130, 93, 160)!important;
}

.dark-modeResume{
    color: rgb(168, 128, 201)!important;
    border: 2px solid rgb(168, 128, 201)!important;
}

.container{
    display: flex;
}

/* Global CSS End */

/* Nav Style Start */

#navWrap{
    display: flex;
    width: 100%;
    position: fixed;
    background-color: #fff;
    border-bottom: 1px solid rgb(138, 138, 138);
    height: 100px;
    z-index: 1;
}

#navH1{
    display: flex;
    width: 50%;
    height: 100px;
    align-items: center;
    justify-content: space-around;
}

#navH1 h1 a{
    font-size: 140%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color: rgb(60, 91, 175);
    margin-left: 80px;
}

#nav{
    display: flex;
    width: 50%;
    height: 100px;
    align-items: center;
}

/* This media query corrects the navigation for large screens */

@media only screen and (min-width: 1920px) {
    #nav {
        width: 25%;
    }
  }

#nav ul{
    list-style: none;
    display: flex;
}

#nav ul li{
    margin-bottom: 10px;
}

#nav ul li a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color:rgb(60, 91, 175);
    width: 60px;
}

#nav ul li:nth-child(4){
    margin-right: 40px;
}

/* Nav Style End */

/* Banner Style Start */

#banner{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 140px;
}

#hi{
    font-size: 360%;
}

#myName{
    color:rgb(60, 91, 175);
}

#occuTitle{
    font-size: 180%;
    margin-top: -1px;
}

#about{
   text-align: left;
   padding-top: 20px;
   line-height: 1.5rem;
   margin-top: -10px;
}

#resume{
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#resumeButton{
    margin: 20px;
    padding: 1rem;
    border: 2px solid rgb(60, 91, 175);
    color: #fff;
    background-color:rgb(60, 91, 175); 
    text-decoration: none;
    border-radius: 4px;
    transition: .4s all;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#resumeButton:hover{
    transition: .4s all;
    background-color:#fff; 
    color: rgb(60, 91, 175); ;
}

.resumeIcons{
    color: rgb(60, 91, 175); 
    text-decoration: none;
}

/* Banner Style End */

/* Projects Start */

#projectColumn{
    flex-direction: column;
    text-align: center;
    padding-top: 80px;
}

#projectZone{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-top: 20px;
    gap:20px;
    margin: 40px;
}

.projects{
    text-align: center;
    height: 400px;
    transition: .4s all;
    flex-direction: column;
    display: flex;
    justify-content: center;
    min-width: 33%;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.projects:hover{
    animation: alternate;
    transform: translateY(-4px);
    transition: .4s all;
}

.projects h3{
    margin-top: -20px;
}

.projects h3, p{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
}

.projects p{
    margin-top: -20px;
}

.projects a{
    text-decoration: none;
    color: #fff;
    background-color:rgb(60, 91, 175); 
    padding: 12px;
    width: 40%;
    border-radius: 4px;
    margin-left: 25%;
    border: 1px solid #fff;
    transition: .4s all;
    margin-top: 16px;
}

.projects a:hover{
    transition: .4s all;
    color: rgb(60, 91, 175);
    background-color:#fff; 
    border: 1px solid rgb(60, 91, 175);
    z-index: -1;
}

.projects ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-left: -20px;
}

.projects li{
    float: left;

}
/* Projects End */

/* Skills Start */

#skillZone{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
    padding-left:23%;
    padding-right:27%;
}

#skillZone ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#skillZone li{
   padding: 16px;
   border: 1px solid rgb(138, 138, 138);
   border-radius: 4px;
   transition: .3s all;
   white-space: nowrap;
   margin: -10px;
   background-color:rgb(60, 91, 175) ;
   color: #fff;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#skillZone li:hover{
    animation: alternate;
    transform: translateY(-4px);
    transition: .3s all;
}

/* Skills End */

/* Contact Start */

#contact{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left:25%;
    padding-right:25%;
    margin-top: 100px;
}

#contactHeader{
    margin-top: 40px;
    text-align: center;
    padding-bottom: 40px;
}

#contact a{
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    color: rgb(138, 138, 138);
}

#contactForm{
    margin-top: -60px;
    background-color: rgb(216, 216, 216);
    padding: 40px 120px 40px 120px;
    border-radius: 4px;
    color: #000;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#contactForm label{
    font-size: 120%;
}

#contactForm  input{
    margin: 10px 0px 24px 0px;
    border-radius: 4px;
    padding: 10px 70px 10px 10px;
    border: 2px solid rgb(216, 216, 216);
    transition: .4s all;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

#contactForm  input:hover{
    border: 2px solid rgb(145, 145, 145);
    transition: .4s all;
    background-color: rgb(243, 243, 243);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

#my-form-button{
    padding: 10px 0px 10px 0px;
    border: none;
    background-color:rgb(60, 91, 175) ;
    color: #fff;
    border-radius: 4px;
    font-size: 120%;
    cursor: pointer;
    width: 101%;
    transition: .4s all;
    border: 2px solid rgb(60, 91, 175)
}

#my-form-button:hover{
    transition: .4s all;
    background-color: #fff;
    color: rgb(60, 91, 175);
    border: 2px solid rgb(60, 91, 175);
}

#formMessage{
    height: 120px;
    margin: 10px 0px 20px 0px;
    border: none;
    border-radius: 4px;
    padding: 10px 70px 0px 10px;
    border: 2px solid rgb(216, 216, 216);
    transition: .4s all;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

#formMessage:hover{
    border: 2px solid rgb(145, 145, 145);
    transition: .4s all;
    background-color: rgb(243, 243, 243);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

/* Contact End */

/* Footer Start */

#footer{
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
    padding-left:25%;
    padding-right:25%;
    margin-top: 100px;
    background-color:rgb(60, 91, 175);
    height: 120px;
    color: #fff;
    line-height: 80px;
}

/* Footer End */
