/* Global CSS Start */
/* This CSS is applied to the entire page */

body{
    background-color: #ffffff;
}

*{
    margin: 0px auto;
    width: 100%;
    font-family: sans-serif;
    color: rgb(85, 85, 85);
}

.container{
    display: flex;
    flex-direction: row;
}
/* Global CSS End */

/* Nav Style Start */

#navH1{
    display: flex;
    width: 50%;
    height: 120px;
    align-items: center;
    justify-content: space-around;
}

#navH1 h1 a{
    font-size: 140%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color: rgb(60, 91, 175);
    margin-left: 80px;
}

#nav{
    display: flex;
    width: 50%;
    height: 120px;
    align-items: center;
}

/* This media query corrects the navigation for large screens */
@media only screen and (min-width: 1920px) {
    #nav {
        width: 25%;
    }
  }

#nav ul{
    list-style: none;
    display: flex;
}

#nav ul li{
    margin-bottom: 10px;
}

#nav ul li a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color:rgb(60, 91, 175);
    width: 60px;
}

#nav ul li:nth-child(4){
    margin-right: 40px;
}
/* Nav Style End */

/* Banner Style Start */
#banner{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 60px;
}

#hi{
    font-size: 360%;
}

#myName{
    color:rgb(60, 91, 175);
}

#about{
   text-align: left;
   padding-top: 20px;
   line-height: 1.5rem;
}

#resume{
    padding-left: 40%;
    padding-right: 40%;
    padding-top: 80px;
}

#resumeButton{
    margin: 20px;
    padding: 1rem;
    border: 1.5px solid rgb(60, 91, 175);
    color: rgb(60, 91, 175);
    text-decoration: none;
    border-radius: 4px;
    transition: transform .5s all;
}

#resumeButton:hover{
    transition: .5s all;
    background-color:rgb(60, 91, 175); 
    color: #fff;
    transform: translateX(100%);
    animation: left-to-right .5s ease-in;
}

.resumeIcons{

}

/* Banner Style End */
