/* Global CSS */

*{
    margin: 0px auto;
    width: 100%;
    font-family: sans-serif;
}

.container{
    display: flex;
    flex-direction: row;
}

/* nav style */

#navH1{
    display: flex;
    width: 50%;
    height: 120px;
    align-items: center;
    justify-content: space-around;
}

#navH1 h1 a{
    font-size: 140%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color: rgb(60, 91, 175);
    margin-left: 80px;
}

#nav{
    display: flex;
    width: 50%;
    height: 120px;
    align-items: center;
}

/* This media query corrects the navigation for large screens */
@media only screen and (min-width: 1920px) {
    #nav {
        width: 25%;
    }
  }

#nav ul{
    list-style: none;
    display: flex;
}


#nav ul li a{
    display: flex;
    text-decoration: none;
    color:rgb(60, 91, 175);
    justify-content: flex-end;
    justify-content: center;
}

#nav ul li:nth-child(4){
    margin-right: 40px;
}
